.fl {float:left;}
.fr {float:right;}

.supercarousel_wrapper .supercarousel p {padding:0px;}

.focuscarousel > div {
    opacity: 0.5;
    transition: opacity ease-in-out 1s;
    -webkit-transition: opacity ease-in-out 1s;
}

.focuscarousel > div.focus {
    opacity: 1;
}

.supercrsl 				{position:relative;}
.supercrsl a.prev 		{left:0px;}
.supercrsl a.next 		{right:0px;}
.supercrsl a.prev, 
.supercrsl a.next 		{cursor:pointer; display:block; width:45px; height:50px; position:absolute; text-indent:-9999px; top:50%;transform: translate(0%, -50%);-webkit-transform: translate(0%, -50%);}

.supercarousel_wrapper 	{overflow:hidden; position:relative; width:100%; height:200px;}

.supercarousel 			{display:none;margin:0px; padding:0px; height:auto; top:0px; left:0px; position:absolute;}
.supercarousel div 		{height:auto; position:absolute; top:0px; background-color:transparent; display: block;}
.supercarousel div div	{position:relative;}

.imgslide {max-width:none!important;}

.supercaption {background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important; bottom:0; top:auto !important; color:#FFFFFF; font-size:16px; font-weight:bold; left:0; padding:10px 0; position:absolute !important; text-align:center; text-shadow:1px 1px 1px #333333; width:100%;}

.supercaption a {
    color: #ffffff;
}

.supercontentdata, .supercontentdata img {
    width:100%;
}

.supercontentdata a {
    color: #29556a;
    text-decoration: none;
}

.supercontentdata a:hover {
    color: #29556a;
    text-decoration: underline;
}

.slider-info {
    padding: 50px;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.w25 {
    width: 25%;
}

.supercontenttitle {
    font-weight: bold;
}

a.prev, a.next 		{background:url(../images/miscellaneous_sprite.png) no-repeat transparent; width:45px; height:50px; display:none; position:relative; cursor:pointer; z-index:999;}
a.prev 				{background-position:0 0;}
a.prev:hover 		{background-position:0 -49px;}
a.prev.disabled 	{background-position:0 -100px;}
a.next 				{background-position:-46px 0;}
a.next:hover 		{background-position:-46px -49px;}
a.next.disabled 	{background-position:-46px -100px;}
a.prev.disabled, 
a.next.disabled 	{cursor:default;}

a.prev span, 
a.next span 		{display:none;}

.supercrsl .pagination 			{text-align:center;}
.supercrsl .pagination a {
    line-height: normal;
    box-shadow: none;
    border-width: 0px;
    padding: 0px;
    background:url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent; width:15px; height:15px; margin:0 5px 0 0; display:inline-block; cursor:pointer;
}
.supercrsl .pagination a.selected, .supercrsl .pagination a:hover {
    cursor:default;
    background:url("../images/miscellaneous_sprite.png") no-repeat scroll -25px -300px rgba(0, 0, 0, 0);
    box-shadow: none;
    border-width: 0px;
    cursor:pointer;
}
.supercrsl .pagination a span 		{display:none;}

a.prev.small, 
a.next.small 			{background:url(../images/miscellaneous_sprite.png) no-repeat transparent; width:30px; height:36px; display:block; position:absolute; top:25%; cursor:pointer;}
a.prev.small 			{Xleft:-12px; background-position: -7px -167px;}
a.prev.small:hover		{background-position: -7px -197px;}
a.Xprev.small.disabled	{background-position:-7px -227px !important;}
a.next.small 			{Xright:-12px; background-position: -38px -167px;}
a.next.small:hover 		{background-position:-38px -197px;}
a.Xnext.small.disabled 	{background-position:-38px -227px !important;}
a.prev.small.disabled, 
a.next.small.disabled 	{cursor: default;}
a.prev.small span, 
a.next.small span 		{display: none;}
/*
.clearfix 				{float:none; clear:both;}
*/
a.blk					{display:inline;}


.superprev,
.supernext {
    background-image:url(../images/miscellaneous_sprite.png) !important;
    background-repeat:  no-repeat !important;
    background-position: 0px 0px;
    display:block; width:55px; height:70px; position:absolute; z-index: 999;}

.supercrsl a.superprev.middlecenter			{left:-80px;  top:40%;}
.supercrsl a.supernext.middlecenter			{right:-80px; top:40%;}
.supercrsl:hover a.superprev.middlecenter	{left:0px;}
.supercrsl:hover a.supernext.middlecenter	{right:0px;}

.supercrsl a.superprev,
.supercrsl a.supernext			{-webkit-transition:all 0.30s ease; -moz-transition:all 0.30s ease; -o-transition:all 0.30s ease; transition:all 0.30s ease;}

.supercrsl a.style8-white,
.supercrsl a.style8-black			{width:40px; height:70px;}

.superprev.style1-white			{background-position:-110px -10px;}
.supernext.style1-white			{background-position:-464px -10px;}
.superprev.style1-white:hover	{background-position:-180px -10px;}
.supernext.style1-white:hover	{background-position:-394px -10px;}
.superprev.style1-white.disabled{background-position:-250px -10px;}
.supernext.style1-white.disable	{background-position:-319px -10px;}

.superprev.style2-white			{background-position:-110px -80px;}
.supernext.style2-white			{background-position:-450px -80px;}
.superprev.style2-white:hover	{background-position:-180px -80px;}
.supernext.style2-white:hover	{background-position:-380px -80px;}
.superprev.style2-white.disabled{background-position:-250px -80px;}
.supernext.style2-white.disabled{background-position:-305px -80px;}

.superprev.style3-white			{background-position:-115px -150px;}
.supernext.style3-white			{background-position:-455px -150px;}
.superprev.style3-white:hover	{background-position:-185px -150px;}
.supernext.style3-white:hover	{background-position:-390px -150px;}
.superprev.style3-white.disabled{background-position:-255px -150px;}
.supernext.style3-white.disabled{background-position:-320px -150px;}

.superprev.style4-white			{background-position:-115px -220px;}
.supernext.style4-white			{background-position:-455px -220px;}
.superprev.style4-white:hover	{background-position:-185px -220px;}
.supernext.style4-white:hover	{background-position:-390px -220px;}
.superprev.style4-white.disabled{background-position:-255px -220px;}
.supernext.style4-white.disabled{background-position:-320px -220px;}

.superprev.style5-white			{background-position:-110px -290px;}
.supernext.style5-white			{background-position:-465px -290px;}
.superprev.style5-white:hover	{background-position:-180px -290px;}
.supernext.style5-white:hover	{background-position:-395px -290px;}
.superprev.style5-white.disabled{background-position:-250px -290px;}
.supernext.style5-white.disabled{background-position:-325px -290px;}

.superprev.style6-white			{background-position:-110px -360px;}
.supernext.style6-white			{background-position:-465px -360px;}
.superprev.style6-white:hover	{background-position:-180px -360px;}
.supernext.style6-white:hover	{background-position:-395px -360px;}
.superprev.style6-white.disabled{background-position:-250px -360px;}
.supernext.style6-white.disabled{background-position:-325px -360px;}

.superprev.style7-white			{background-position:-110px -430px;}
.supernext.style7-white			{background-position:-465px -430px;}
.superprev.style7-white:hover	{background-position:-180px -430px;}
.supernext.style7-white:hover	{background-position:-395px -430px;}
.superprev.style7-white.disabled{background-position:-250px -430px;}
.supernext.style7-white.disabled{background-position:-325px -430px;}

.superprev.style8-white			{background-position:-175px -490px;}
.supernext.style8-white			{background-position:-415px -490px;}
.superprev.style8-white:hover	{background-position:-105px -490px;}
.supernext.style8-white:hover	{background-position:-480px -490px;}
.superprev.style8-white.disabled{background-position:-245px -490px;}
.supernext.style8-white.disabled{background-position:-345px -490px;}

.supercrsl a.prev.style8-white, 
.supercrsl a.next.style8-white,
.supercrsl a.prev.style8-black, 
.supercrsl a.next.style8-black	{top:25%;}


.superprev.style1-black			{background-position:-600px -10px;}
.supernext.style1-black			{background-position:-946px -10px;}
.superprev.style1-black:hover	{background-position:-670px -10px;}
.supernext.style1-black:hover	{background-position:-876px -10px;}
.superprev.style1-black.disabled{background-position:-740px -10px;}
.supernext.style1-black.disabled{background-position:-810px -10px;}

.superprev.style2-black			{background-position:-595px -80px;}
.supernext.style2-black			{background-position:-936px -80px;}
.superprev.style2-black:hover	{background-position:-665px -80px;}
.supernext.style2-black:hover	{background-position:-866px -80px;}
.superprev.style2-black.disabled{background-position:-735px -80px;}
.supernext.style2-black.disabled{background-position:-800px -80px;}

.superprev.style3-black			{background-position:-600px -150px;}
.supernext.style3-black			{background-position:-946px -150px;}
.superprev.style3-black:hover	{background-position:-670px -150px;}
.supernext.style3-black:hover	{background-position:-876px -150px;}
.superprev.style3-black.disabled{background-position:-740px -150px;}
.supernext.style3-black.disabled{background-position:-810px -150px;}

.superprev.style4-black			{background-position:-600px -220px;}
.supernext.style4-black			{background-position:-946px -220px;}
.superprev.style4-black:hover	{background-position:-670px -220px;}
.supernext.style4-black:hover	{background-position:-876px -220px;}
.superprev.style4-black.disabled{background-position:-740px -220px;}
.supernext.style4-black.disabled{background-position:-810px -220px;}

.superprev.style5-black			{background-position:-600px -290px;}
.supernext.style5-black			{background-position:-946px -290px;}
.superprev.style5-black:hover	{background-position:-670px -290px;}
.supernext.style5-black:hover	{background-position:-876px -290px;}
.superprev.style5-black.disabled{background-position:-740px -290px;}
.supernext.style5-black.disabled{background-position:-810px -290px;}

.superprev.style6-black			{background-position:-600px -360px;}
.supernext.style6-black			{background-position:-946px -360px;}
.superprev.style6-black:hover	{background-position:-670px -360px;}
.supernext.style6-black:hover	{background-position:-876px -360px;}
.superprev.style6-black.disabled{background-position:-740px -360px;}
.supernext.style6-black.disabled{background-position:-810px -360px;}

.superprev.style7-black			{background-position:-600px -430px;}
.supernext.style7-black			{background-position:-946px -430px;}
.superprev.style7-black:hover	{background-position:-670px -430px;}
.supernext.style7-black:hover	{background-position:-876px -430px;}
.superprev.style7-black.disabled{background-position:-740px -430px;}
.supernext.style7-black.disabled{background-position:-810px -430px;}

.superprev.style8-black			{background-position:-590px -490px;}
.supernext.style8-black			{background-position:-970px -490px;}
.superprev.style8-black:hover	{background-position:-660px -490px;}
.supernext.style8-black:hover	{background-position:-900px -490px;}
.superprev.style8-black.disabled{background-position:-730px -490px;}
.supernext.style8-black.disabled{background-position:-830px -490px;}





.small.superprev.style1-white			{background-position:-1065px -15px;}
.small.supernext.style1-white			{background-position:-1424px -15px;}
.small.superprev.style1-white:hover		{background-position:-1135px -15px;}
.small.supernext.style1-white:hover		{background-position:-1354px -15px;}
.small.superprev.style1-white.disabled	{background-position:-1205px -15px;}
.small.supernext.style1-white.disabled	{background-position:-1284px -15px;}

.small.superprev.style2-white			{background-position:-1062px -63px;}
.small.supernext.style2-white			{background-position:-1410px -63px;}
.small.superprev.style2-white:hover		{background-position:-1132px -63px;}
.small.supernext.style2-white:hover		{background-position:-1340px -63px;}
.small.superprev.style2-white.disabled	{background-position:-1202px -63px;}
.small.supernext.style2-white.disabled	{background-position:-1270px -63px;}

.small.superprev.style3-white			{background-position:-1065px -106px;}
.small.supernext.style3-white			{background-position:-1420px -106px;}
.small.superprev.style3-white:hover		{background-position:-1135px -106px;}
.small.supernext.style3-white:hover		{background-position:-1350px -106px;}
.small.superprev.style3-white.disabled	{background-position:-1205px -106px;}
.small.supernext.style3-white.disabled	{background-position:-1282px -106px;}

.small.superprev.style4-white			{background-position:-1064px -155px;}
.small.supernext.style4-white			{background-position:-1418px -155px;}
.small.superprev.style4-white:hover		{background-position:-1134px -155px;}
.small.supernext.style4-white:hover		{background-position:-1348px -155px;}
.small.superprev.style4-white.disabled	{background-position:-1202px -155px;}
.small.supernext.style4-white.disabled	{background-position:-1282px -155px;}

.small.superprev.style5-white			{background-position:-1064px -200px;}
.small.supernext.style5-white			{background-position:-1418px -200px;}
.small.superprev.style5-white:hover		{background-position:-1134px -200px;}
.small.supernext.style5-white:hover		{background-position:-1348px -200px;}
.small.superprev.style5-white.disabled	{background-position:-1202px -200px;}
.small.supernext.style5-white.disabled	{background-position:-1282px -200px;}

.small.superprev.style6-white			{background-position:-1064px -240px;}
.small.supernext.style6-white			{background-position:-1418px -240px;}
.small.superprev.style6-white:hover		{background-position:-1134px -240px;}
.small.supernext.style6-white:hover		{background-position:-1348px -240px;}
.small.superprev.style6-white.disabled	{background-position:-1202px -240px;}
.small.supernext.style6-white.disabled	{background-position:-1282px -240px;}

.small.superprev.style7-white			{background-position:-1063px -285px;}
.small.supernext.style7-white			{background-position:-1423px -285px;}
.small.superprev.style7-white:hover		{background-position:-1133px -285px;}
.small.supernext.style7-white:hover		{background-position:-1355px -285px;}
.small.superprev.style7-white.disabled	{background-position:-1202px -285px;}
.small.supernext.style7-white.disabled	{background-position:-1285px -285px;}

.small.superprev.style8-white			{background-position:-1136px  -324px;}
.small.supernext.style8-white			{background-position:-1335px -324px;}
.small.superprev.style8-white:hover		{background-position:-1067px -324px;}
.small.supernext.style8-white:hover		{background-position:-1405px -324px;}
.small.superprev.style8-white.disabled	{background-position:-1206px -324px;}
.small.supernext.style8-white.disabled	{background-position:-1265px -324px;}

.supercrsl a.prev.style8-white, 
.supercrsl a.next.style8-white,
.supercrsl a.prev.style8-black, 
.supercrsl a.next.style8-black	{top:25%;}


.small.superprev.style1-black			{background-position:-1065px -415px;}
.small.supernext.style1-black			{background-position:-1424px -415px;}
.small.superprev.style1-black:hover		{background-position:-1135px -415px;}
.small.supernext.style1-black:hover		{background-position:-1354px -415px;}
.small.superprev.style1-black.disabled	{background-position:-1205px -415px;}
.small.supernext.style1-black.disabled	{background-position:-1284px -415px;}

.small.superprev.style2-black			{background-position:-1062px -468px;}
.small.supernext.style2-black			{background-position:-1410px -468px;}
.small.superprev.style2-black:hover		{background-position:-1132px -468px;}
.small.supernext.style2-black:hover		{background-position:-1340px -468px;}
.small.superprev.style2-black.disabled	{background-position:-1202px -468px;}
.small.supernext.style2-black.disabled	{background-position:-1270px -468px;}

.small.superprev.style3-black			{background-position:-1063px -505px;}
.small.supernext.style3-black			{background-position:-1422px -505px;}
.small.superprev.style3-black:hover		{background-position:-1133px -505px;}
.small.supernext.style3-black:hover		{background-position:-1352px -505px;}
.small.superprev.style3-black.disabled	{background-position:-1203px -505px;}
.small.supernext.style3-black.disabled	{background-position:-1283px -505px;}

.small.superprev.style4-black			{background-position:-1064px -554px;}
.small.supernext.style4-black			{background-position:-1418px -554px;}
.small.superprev.style4-black:hover		{background-position:-1134px -554px;}
.small.supernext.style4-black:hover		{background-position:-1348px -554px;}
.small.superprev.style4-black.disabled	{background-position:-1202px -554px;}
.small.supernext.style4-black.disabled	{background-position:-1278px -554px;}

.small.superprev.style5-black			{background-position:-1064px -611px;}
.small.supernext.style5-black			{background-position:-1418px -611px;}
.small.superprev.style5-black:hover		{background-position:-1134px -611px;}
.small.supernext.style5-black:hover		{background-position:-1348px -611px;}
.small.superprev.style5-black.disabled	{background-position:-1202px -611px;}
.small.supernext.style5-black.disabled	{background-position:-1280px -611px;}

.small.superprev.style6-black			{background-position:-1064px -642px;}
.small.supernext.style6-black			{background-position:-1418px -642px;}
.small.superprev.style6-black:hover		{background-position:-1134px -642px;}
.small.supernext.style6-black:hover		{background-position:-1348px -642px;}
.small.superprev.style6-black.disabled	{background-position:-1202px -642px;}
.small.supernext.style6-black.disabled	{background-position:-1280px -642px;}

.small.superprev.style7-black			{background-position:-1063px -692px;}
.small.supernext.style7-black			{background-position:-1423px -692px;}
.small.superprev.style7-black:hover		{background-position:-1133px -692px;}
.small.supernext.style7-black:hover		{background-position:-1354px -692px;}
.small.superprev.style7-black.disabled	{background-position:-1202px -692px;}
.small.supernext.style7-black.disabled	{background-position:-1284px -692px;}

.small.superprev.style8-black			{background-position:-1136px -738px;}
.small.supernext.style8-black			{background-position:-1335px -738px;}
.small.superprev.style8-black:hover		{background-position:-1067px -738px;}
.small.supernext.style8-black:hover		{background-position:-1405px -738px;}
.small.superprev.style8-black.disabled	{background-position:-1206px -738px;}
.small.supernext.style8-black.disabled	{background-position:-1265px -738px;}




@media (max-width:480px){
    .supercaption	{font-size:12px;}
}

@media (min-width:480px) and (max-width:800px){
    .supercaption	{font-size:14px;}
}


.supertwitter >div{
    text-align: center;
}

.supertwitter >div a{
    font-size: 20px;
}

.supercarousel div div .slider-info {
    position:absolute; top:80px; z-index:1;
}

.bg-grey-light			{background:#eee !important; text-align:center; padding:10px 5px;}

.txt-orange				{color:#F30;}

.smpl-post h4			{font-size:22px; font-weight:400; letter-spacing:-1px; line-height:30px; text-transform:uppercase;}

.quote					{text-align:center; padding:10px;}
.quote .qname			{font-size:16px; color:#999;}
.quote .qquestion		{font-size:16px; font-weight:700; border-bottom:3px solid #db9501; color:#db9501; padding-bottom:10px; text-transform:uppercase;}

.supercaptiononover > div .supercaption {
    opacity: 0;
    transition: opacity ease-in-out 400ms;
    -webkit-transition: opacity ease-in-out 400ms;
    -o-transition: opacity ease-in-out 400ms;
    -ms-transition: opacity ease-in-out 400ms;
    -moz-transition: opacity ease-in-out 400ms;
}

.supercaptiononover >div:hover .supercaption {
    opacity: 1;
}

.supercaptiononoverfull > div .supercaption {
    opacity: 0;
    transition: opacity ease-in-out 400ms;
    -webkit-transition: opacity ease-in-out 400ms;
    -o-transition: opacity ease-in-out 400ms;
    -ms-transition: opacity ease-in-out 400ms;
    -moz-transition: opacity ease-in-out 400ms;
    top: 0px!important;
}

.supercaptiononoverfull >div:hover .supercaption {
    opacity: 1;
}

.supercaptiononoverfull > div .supercaption .captiondata {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
}

.superslidezoom > div {
    overflow: hidden;
}

.superslidezoom > div .imgslide {
    overflow: hidden;
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;

    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
}

.superslidezoom > div:hover .imgslide {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
}

.superslidefadein > div .imgslide {
    overflow: hidden;
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;

    opacity: 0.8;
}

.superslidefadein > div:hover .imgslide {
    opacity: 1;
}

.superslidefadeout > div .imgslide {
    overflow: hidden;
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;

    opacity: 1;
}

.superslidefadeout > div:hover .imgslide {
    opacity: 0.8;
}

.superslidecolor > div .imgslide {
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -o-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;

    
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
}

.superslidecolor > div:hover .imgslide {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: none;
}

@media (max-width:480px){
    .supercarousel div div .slider-info		{top:5px; left:10px;}
    .supercarousel div div .slider-info p	{display:none}
    .supercaptiononover > div .supercaption {
        opacity: 1;
    }
}

@media (min-width:480px) and (max-width:768px){
    .supercaptiononover > div .supercaption {
        opacity: 1;
    }
    .supercarousel div div .slider-info		{top:15px; left:15px;}
    .supercarousel div div .slider-info p	{font-size:12px; width:60%; line-height:18px;}
}
